* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    display: none;
    position: relative; 
}

h2 {
    text-align: center;
}

.title-container{
  width: 100%;
  position: relative;
  height: 300px;
}

.title-img {
  width: 100%;
  height: 300px;
  position: absolute;

}

.title-text {
  position: absolute;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: #FFFFFF;
  font-size:7vw;
  width: 100%;
  padding-top: 80px;
}

.txt-1, .txt-2, .txt-3, .navbar {
    display: none;
    font-size: 1.4em;
}

.txt-1 {
  text-align: left;
}

.navbar {
  background-color: #d24dff;
  color: white;
  font-weight: 700;
}


 .txt-2, .txt-3, .txt-4, .txt-5, .txt-6, .txt-7, h1 {
    margin-left: 20%;
    margin-right: 20%;
}

/* 
Section 1 #######################################################################
*/
#section1 {
  background-color: white;
  color: #0000FF;
  /* padding-bottom: 200px; */
}

#title-victim {
  width: 100%;
  height:500px;
  position: absolute;
  margin-bottom: 100px;
}

.title-victim-text {
  position: absolute;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: #FFFFFF;
  font-size:7vw;
  width: 100%;
  padding-top: 200px;
}

#section-1-container {
/*   padding-top: 300px;
  padding-bottom: 50px; */
}

.text-section
{
  padding-top: 100px;
  padding-bottom: 100px;
}

#about {
  margin-top: 200px;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

#climate {
  text-align: center;
  padding-top: 50px;
}

.about-text {
  display: none;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 100px;
}

/* 
Section 2 #######################################################################
*/

#section2 {
  background-color: white;
  color: #0000FF;
  /* padding-bottom: 100px; */
}

#section-2-container {
/*   padding-bottom: 130px;
  padding-top: 450px; */
  overflow: hidden;

}

#umwelt-container-1{
position: relative;
width: 100%;
height: 300px;
display: inline-block;
text-align: center;
}

#kapitalismus-container-1, #kapitalismus-Percent-container, #kapitalismus-container-2 {
  position: relative;
  width: 33%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

#kapitalismus-txt-1, #kapitalismus-txt-2 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #0000FF;
}

#kapitalismus-percent-txt{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #0000FF;
  text-align: center;
}

.section-2-txt-1 {
  color: #0000FF;
    display: none;
    margin-left: 20%;
    margin-right: 20%;
}

#section-2-txt-big {
  color: #0000FF;
  font-size: 100px;
    display: none;
    margin-left: 20%;
    margin-right: 20%;
}


/*Neu Geaddet */
#über_uns-img-main-container {
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.über_uns-img-container {
  position: relative;
  width: 66%;
  display: inline-block;
  text-align: center;
}

.über_uns2-img-container {
  position: relative;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.über_uns-img {
  border: #0000FF;
  width:100%;
  border-width: 5px;
  border-style: groove;
}

.über_uns-img-text {
  color: #0000FF;
  font-size: 20px;
  padding: 20px;
  text-transform: none;
}

.über-uns-txt-container-1 {
  margin: 20px;
}

.name-txt {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color:#FF00FF;
  text-align: left; 
  width: 80%;
}

.description-txt {
  font-size: 1.5em;
  text-align: left; 
  width: auto;
  color: #0000FF;
}

#umwelt-img-main-container {
  padding-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.umwelt-img-container {
  position: relative;
  display: inline-block;
  width: 29%;
  text-align: center;
  margin: 20px;
}

.umwelt-img {
  border: #0000FF;
  width: 80%;
  border-width: 5px;
  border-style: groove;
}

.umwelt-img-text {
  color: #0000FF;
  font-size: 20px;
  padding: 20px;
  text-transform: none;
}



#plane-container{
  width: 100%;
  height: 100px;
  position: relative;
  text-align: left;
  overflow: hidden;
}

#plane-animation{
  position: absolute;
  width: 100%;
  animation-name: example2;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transform: translateX(100%);
  text-align: left;
}

.plane-img{
  height: 100px;
  width: auto;
}


#umwelt-banner {
  background-color: #FF00FF;
  height: 80px;
  width: 100%;
  position: relative;
  text-align: left;
  overflow: hidden;
}

#umwelt-banner-text {
  color: white;
  font-size: 25px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  animation-name: example;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transform: translateX(100%);
  text-align: left;
}

@keyframes example {
  from {transform: translateX(100%);}
  to {transform: translateX(-100%);}
}

@keyframes example2 {
  from {transform: translateX(-100%);}
  to {transform: translateX(100%);}
}
/* .scroll-left {
  height: 50px; 
  overflow: hidden;
  position: relative;
  }
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  Starting position
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
  transform:translateX(100%);
  Apply animation to this element 
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
  }
 */


/* 
Section 3 #######################################################################
*/

#section3 {
  background-color: white;
  color: #EB40FF;
  /* padding-bottom: 100px; */
}

.section-3-txt-1, .section-3-txt-2 {
    display: none;
    color: white;
}

.section-3-txt-container {
    padding-left: 20%;
    padding-right: 20%;
}

#kapitalismus-tierwelt-container-1, #kapitalismus-tierwelt-Percent-container, #kapitalismus-tierwelt-container-2 {
  position: relative;
  width: 33%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

#kapitalismus-tierwelt-txt-1, #kapitalismus-tierwelt-txt-2{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: #EB40FF;
  letter-spacing: 0.1em;
}

#kapitalismus-tierwelt-percent-txt {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #EB40FF;
  text-align: center;
}

.section-3-txt-1 {
  color: #EB40FF;
  display: none;
  margin-left: 20%;
  margin-right: 20%;
}

/* 
Section 4 BUY #######################################################################
*/

#section4 {
    background-color: white;
    text-align: center;
    padding-bottom: 20%;
}

#h1-section-4 {
    text-align: center;
    margin-bottom: 50px;
    color: #d24dff;
}

#section-4-container {
  padding-left: 20%;
  padding-right: 20%;
}

#buy-anyway-btn {
  margin: auto;
  margin-top: 50px;
  height: 100px;
  width: 300px;
  border-radius: 10px;
  font-size: 1vw;
  text-align: center;
  border: none;
  color: white;
  background-color:#d24dff;
}

#form {
  border: none;
  height: 250px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}

label, input {
  padding: 10px;
  width: 300px;
}

label {
  background-color: #d24dff;
  color: white;
}


#buy-btn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 1vw;
    text-align: center;
    border: none;
    color: white;
    background-color:#d24dff;
}

.btn-txt {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: white;
  font-size: 3vw;
}

#buy-txt {
    display: none;
    padding: 5px;
    border: none;
    color: white;
    list-style-type: none;
    font-size: medium;
}

.buy-anyway-title {
  position: relative;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: #d24dff;
  font-size: 3vw;
  padding-top: 10px;
  display: none;
}

#buy-txt-container {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.buy-txt {
    list-style: none;
    position: relative;
    display: contents;
    margin-bottom: 80px;
    margin-top: 80px;
}

.buy-txt li {
    display: inline-block;
    margin-right: 5px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 1em;
    color: #d24dff;
    opacity: 1;
    transition: all 2.5s ease;
}
/* 
Section 5 #######################################################################
*/

#section5 {
  background-color: white;
  color: #0000FF;
  padding-bottom: 100px;
}

#section-5-container {
/*   padding-bottom: 130px;
  padding-top: 450px; */
}



.buy-txt li:last-child {
    margin-right: 0;
}

.buy-txt.hidden li {
    opacity: 0;
}

.buy-txt.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.buy-txt.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.buy-txt.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.buy-txt.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.buy-txt.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(8) { transform: translateX(-200px) translateY(-200px); }
.buy-txt.hidden li:nth-child(9) { transform: translateX(20px) translateY(100px); }
.buy-txt.hidden li:nth-child(10) { transform: translateX(-150px) translateY(-80px); }
.buy-txt.hidden li:nth-child(11) { transform: translateX(10px) translateY(-200px); }
.buy-txt.hidden li:nth-child(12) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(13) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(14) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(15) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(16) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(17) { transform: translateX(30px) translateY(200px); }

.buy-txt.hidden li:nth-child(18) { transform: translateX(-200px) translateY(-200px); }
.buy-txt.hidden li:nth-child(19) { transform: translateX(20px) translateY(100px); }
.buy-txt.hidden li:nth-child(20) { transform: translateX(-150px) translateY(-80px); }
.buy-txt.hidden li:nth-child(20) { transform: translateX(10px) translateY(-200px); }
.buy-txt.hidden li:nth-child(21) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(22) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(23) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(24) { transform: translateX(-200px) translateY(-200px); }
.buy-txt.hidden li:nth-child(25) { transform: translateX(20px) translateY(100px); }
.buy-txt.hidden li:nth-child(26) { transform: translateX(-150px) translateY(-80px); }
.buy-txt.hidden li:nth-child(27) { transform: translateX(10px) translateY(-200px); }
.buy-txt.hidden li:nth-child(28) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(29) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(30) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(31) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(32) { transform: translateX(20px) translateY(-20px); }

.buy-txt.hidden li:nth-child(33) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(34) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(35) { transform: translateX(20px) translateY(-20px); }
.buy-txt.hidden li:nth-child(36) { transform: translateX(30px) translateY(200px); }
.buy-txt.hidden li:nth-child(37) { transform: translateX(-300px) translateY(200px); }
.buy-txt.hidden li:nth-child(38) { transform: translateX(20px) translateY(-20px); }

/*
  NFT #############################################################################################
*/









  